.main{
  display: flex;
  gap: 10px;
  position: relative;
  align-items: center;
}

.icon img{
  height: 100%;
  width: auto;
}

.iconInfo{
  position: absolute;
  top: 0px;
  right: -20px;
  height: 16px;
}

.iconInfo img{
  height: 100%;
  width: auto;
}