:root {
  /* ================ Color ================ */
  --color-white: rgb(255, 255, 255);
  --color-white-rgb: 255, 255, 255;
  --color-primary: rgb(152, 58, 46);
  --color-primary-rgb: 152, 58, 46;
  --color-black: rgb(0, 0, 0);
  --color-black-rgb: 0, 0, 0;
  --color-default: rgb(217, 217, 217);
  --color-default-rgb: 217, 217, 217;
  --color-white-opa: rgba(255, 255, 255, 0.67);
  --color-gray: rgb(130, 128, 128);
  --color-gray-rgb: 130, 128, 128;
  --color-gray-light: rgb(240, 240, 240);
  --color-gray-light-rgb: 240, 240, 240;
  --color-error: rgb(208, 13, 13);
  --color-error-rgb: 208, 13, 13;
  --color-error-light: rgb(223, 100, 100);
  --color-error-light-rgb: 223, 100, 100;
  --color-pending: rgb(255, 184, 0);
  --color-pending-rgb: 255, 184, 0;
  --color-success: rgb(76, 175, 80);
  --color-success-rgb: 76, 175, 80;

  /* ================ Font ================ */
  --fontFamily: -apple-system, BlinkMacSystemFont, "Inter", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --fontWeightBold: 700;

  --fontSizeSmall: 12px;
  --fontSizeDefault: 16px;
  --fontSizeMedium: 20px;
  --fontSizeBig: 24px;
  --fontSizeMainTitle: 32px;

  /* ================ Box shadow ================ */
  --box-shadow-shine: 0 10px 15px rgba(0, 0, 0, 0.05),
    0 4px 6px rgba(0, 0, 0, 0.05);
}
