:root{
  /* ================ Color ================ */
  --color-white: white;
  --color-primary: #983A2E;
  --color-black: black;
  --color-default: #D9D9D9;
  --color-white-opa: #ffffff59;

  /* ================ Font ================ */
  --fontFamily: -apple-system, BlinkMacSystemFont, 'Inter', Helvetica, Arial, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  --fontWeightBold: 700;

  --fontSizeDefault: 16px;
  --fontSizeMedium: 20px;
  --fontSizeBig: 24px;
  --fontSizeMainTitle: 32px;
}