.main{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.main p{
  width:45%;
  border-radius: 5px;
  color: var(--color-black);
  font-size: 12px;
  font-style: italic;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  gap: 10px;
}

.main p:before{
  content: "";
  display: inline-block;
  min-width: 18px;
  min-height: 18px;
  border-radius: 5px;
  background-color: var(--color-gray);
  border: 1px solid var(--color-gray);
}

.main p:nth-child(1):before{
  background-color: var(--color-default);
}

.main p:nth-child(2):before{
  background-color: var(--color-error-light);
}

.main p:nth-child(3):before{
  background-color: var(--color-pending);
}

.main p:nth-child(4):before{
  background-color: var(--color-success);
}