.main{
  display: flex;
  gap: 10px;
  flex-direction: column;
  border-radius: 5px;
  padding: 0 10px 10px;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
}

.header{
  display: flex;
  gap: 10px;
  position: relative;
  justify-content: space-between;
}

.header p{
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  font-size: 14px;
  font-style: italic;
  color: var(--color-gray);
}

.list{
  flex-grow: 1;
  overflow: auto;
}

.item{
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.item p{
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 30px;
}

.total{
  display: flex;
  justify-content: space-between;
  position: relative;
  color: var(--color-error);
}

.total:before{
  content: "";
  display: block;
  position: absolute;
  background-color: var(--color-gray);
  height: 1px;
  width: 100%;
  top: 0;
}

.total p{
  line-height: 30px;
}

.total p:first-child{
  font-size: 14px;
}

.total p:last-child{
  font-size: 16px;
  font-weight: var(--fontWeightBold);
}

.empty{
  font-size: 14px;
  line-height: 20px;
  color: var(--color-gray);
  text-align: center;
  font-style: italic;
  padding: 20px;
  text-align: center;
  flex-grow: 1;
}

.date{
  font-size: 14px;
  text-align: center;
  color: var(--color-gray);
  font-style: italic;
}