.main{
  background-color: var(--color-white);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.main h3{
  font-weight: var(--fontWeightBold);
  font-size: 14px;
}

.part{
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 12px;
}

.price{
  display: flex;
  gap: 10px;
  align-items: center;
}

.price p {
  color: var(--color-gray);
}

.btnAddTime{
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: var(--color-success);
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.btnAddTime figure{
  height: 16px;
}

.btnAddTime figure img{
  height: 100%;
  width: auto;
}

.btnAddTime:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.1),
              0 4px 6px rgba(0, 0, 0, 0.1);
  filter: brightness(1.05);
}