.cardElement{
  display: flex;
  border-radius: 5px;
  border: 1px solid var(--color-default);
  padding: 10px;
  box-sizing: border-box;
  gap: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cardElement:hover{
  background-color: var(--color-gray-light);
}

.cardElement figure{
  min-width: 80px;
  max-width: 80px;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.cardElement figure img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.inforElement{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inforElement h3{
  font-weight: var(--fontWeightBold);
}

.locationElement{
  font-size: 12px;
}