.main {
  background-image: url("../../assets/images/background.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  padding-top: 90px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.inner {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 30px;
  display: flex;
  gap: 30px;
  overflow: hidden;
  min-height: 70vh;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 1;
}

.leftSection {
  flex: 1;
  min-width: 400px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 15px;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.rightSection {
  flex: 2;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 15px;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
